.passwordListEntry {
    margin-bottom: 5px;
}

.passwordListEntry > div {
  margin-top: auto;
  margin-bottom: auto;
}

.passwordListEntry:nth-child(odd) > :first-child {
  background-color: #dddddd;
  padding-top: 7px;
  padding-bottom: 7px;
}
