.passwordComponents > .row {
    margin-top: 5px;
    margin-bottom: 5px;
}

.passwordComponents > .row > :first-child {
    font-weight: bold;
}

.passwordComponents > .row > :last-child {
    font-family: monospace;
}
